{literal}
* {
	margin: 0px;
	padding: 0px;
}
img {
	border: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
body {
	background: #000;
	color: #fff;
	font: 10px verdana,sans-serif;
}
#menu {
	background: #000;
	/* position: fixed; */
	width: 219px;
	padding: 2px;
	z-index: 1;
}
#menu a {
	background: #444;
	padding: 1px 0px 3px;
	float: left;
	margin-left: 2px;
	display: block;
	width: 32%;
	text-align: center;
	font-weight: bold;
}
#menu a:hover {
	background: #666;
}
#menu a:active {
	background: #ccc;
	color: #000;
}
#page {
	position: absolute;
	top: 15px;
	padding: 10px;
	clear: left;
}
#page ul {
	list-style-type: none;
	width: 200px;
}
#page ul li {
	padding: 0px 1px 1px;
	border-bottom: 1px solid #666;
}
#page ul img {
	margin: 2px 2px -1px 2px;
}
{/literal}