		<div id="song_display">
	
			<div id="cover_image">{if $coverimage}<img id="cover" title="{$current_album}" src="lib/image.php?file={$coverimage|escape:'url'}&size={$coversize}" />{else}<img id="cover" title="{$current_album}" src="templates/default/images/default_cover.png" />{/if}</div>
			
			<div id="album_info"><p class="artist">{$current_artist}</p>{if $current_album}<p class="album">{$current_album}</p>{/if}</div>
		{if $mpd_state == 'play' || $mpd_state == 'pause'}<div id="tracktime"><span id="min">{$initialmin}</span>:<span id="sec">{$initialsec}</span> <span id="total">({$totalmin}:{$totalsec})</span></div>{/if}

		{if $mpd_state == 'play' || $mpd_state == 'pause'}<div id="progress"><div id="progressbar" style="margin-right: {$initialprogress}px;">&nbsp;</div></div>{else}<div id="progress"></div>{/if}

			<div id="song_info">
				{if $current_title}<span class="pos">{$current_track_no+1|string_format:"%02d"}.</span> <span class="title">{$current_title}</span><br /><br />{elseif $current_filename}{$current_filename}{else}[Nothing playing]{/if}
			
			</div>
			
		</div>

		<div id="controls">
			<a href="index.php?action=prev"><img src="templates/{$template}/images/prev_button.png" Alt="Previous" width="50" height="50" /></a><a href="index.php?action=play"><img src="templates/{$template}/images/play_button.png" Alt="Play" width="50" height="50" /></a><a href="index.php?action=pause"><img src="templates/{$template}/images/pause_button.png" Alt="Pause" width="50" height="50" /></a><a href="index.php?action=stop"><img src="templates/{$template}/images/stop_button.png" Alt="Stop" width="50" height="50" /></a><a href="index.php?action=next"><img src="templates/{$template}/images/next_button.png" Alt="Next" width="50" height="50" /></a>
		</div>
		

