				{:if $playlist_item.Pos == $playing:}
					<li class="playing">
				{:else:}
					<li>
				{:/if:}
						<a class="remove" href="{:$playlist_remove_link:}{:$playlist_item.Pos:}"><img src="templates/{:$template:}/images/del.png" alt="Remove from Playlist" class="button" /></a>
						<a class="playlist_item" href="{:$playlist_play_link:}{:$playlist_item.Pos:}">
							<span class="pos">{:$playlist_item.Pos+1|string_format:"%02d":}</span>
						{:if $playlist_item.Title:}
							<span class="title">{:$playlist_item.Title:}</span>
							{:if $playlist_item.Artist && $show_extra_track_info:}
								<br />
								<span class="artist">{:$playlist_item.Artist:}</span>
								{:if $playlist_item.Album:}
									<!--<span class="album">({:$playlist_item.Album:})</span>-->
								{:/if:}
							{:/if:}
						{:else:}
							{:$playlist_item.file_name:}
						{:/if:}
					</a>
				</li>
