{literal}
* {
	margin: 0px;
	padding: 0px;
}
img {
	border: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
body {
	background: #000;
	color: #fff;
	font: 10px verdana,sans-serif;
	text-align: center;
}
#menu {
	background: #000;
	/* position: fixed; */
	width: 235px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	z-index: 1;
}
#menu a {
	background: #444;
	padding: 1px 0px 3px;
	float: left;
	margin-left: 2px;
	display: block;
	width: 32%;
	text-align: center;
	font-weight: bold;
}
#menu a:hover {
	background: #666;
}
#menu a:active {
	background: #ccc;
	color: #000;
}
#menu a.selected {
	background: #ddd;
	color: #333;
	padding: 1px 0px 3px;
	float: left;
	margin-left: 2px;
	display: block;
	width: 32%;
	text-align: center;
	font-weight: bold;
}
#menu a.selected:hover {
	background: #fff;
}
#menu a.selecteds:active {
	background: #666;
	color: #fff;
}
#page {
	padding: 7px;
	clear: left;
}
#page ul {
	list-style-type: none;
	width: 200px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
#page ul.list {
	margin-top: 10px;
}
#page ul li {
	padding: 0px 1px 1px 0px;
	border-top: 1px solid #666;
}
#page .pos {
	font-weight: bold;
}
#page .title {
	color: #ffc;
	font-weight: bold;
}
#page .artist {
	font-style: italic;
}
#page .album {
	color: #888;
}
#buttons {
	width: 215px;
	margin: 0px auto;
	padding-top: 10px;
	text-align: right;
}

img.icon {
	margin: 2px 2px -1px 2px;
}
img.button {
	float: right;
	margin: 2px 2px -1px 2px;
}
#song_display {
	width: 215px;
	margin: 5px auto 5px;
	/* height: 55px; */
	text-align: center;
	font-size: 12px;
}
#controls {
	text-align: center;
	margin: 8px 10px 0px 3px;
}
#controls #track {
}
#controls a {
	margin-left: 7px;
}

#crumb_trail ul {
	list-style-position: inside;
	text-align: left;
}

#crumb_trail li {
	display: inline;
	margin-left: 3px;
	border: 0px none !important;
}
li.playing {
	background: #444;
}
#progress {
	border: 1px solid #666;
	padding: 0px;
	width: 200px;
	height: 6px;
	margin: 5px auto;
	text-align: left;
}
#progressbar {
	font-size: 1px;
	background: #ccc;
	height: 6px;
	margin: 0px;
	padding: 0px;
}
#cover_image {
	margin: 10px auto;
}
img#cover {
	border: 1px solid #666;
	padding: 2px;
}
#tracktime {
	font-weight: bold;
}
#tracktime #total {
	color: #666;
}

{/literal}
